* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  

  .parent {
  width: 100%;
}

  #Home {
  background: linear-gradient(to right, rgba(66,145,215,0.658), rgba(76,240,150,0.753)),
              url('https://images.pexels.com/photos/3584926/pexels-photo-3584926.jpeg?auto=compress&cs=tinysrgb&w=600');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


  .logo {
    color: white;
    font-size: x-large;

    @media screen and (max-width:300px) {
      color: red;
      text-align: left;
    }
  }

  nav {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: white;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    nav {
      padding: 20px 15px;
    }

    .nav ul {
      gap: 15px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      padding: 15px;
    }

    .nav ul {
      flex-direction: column;
      gap: 10px;
      text-align: left;
      font-size: 13px;
    }
  }

  .nav a {
    text-decoration: none;
    color: white;

    
}



.sider {
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    right: 20px;
    top: 100px;
    flex-direction: column;
    z-index: 100;
}

@media screen and (max-width: 768px) {
  .sider {
    right: 15px;
    top: 80px;
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .sider {
    right: 10px;
    top: 60px;
    gap: 10px;
  }
}

.sider i{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 30px;
    width: 30px;
    
}

    .sider i:hover {
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.511);
    box-shadow: 5px 5px 30px burlywood;
            
        }
  
  
  .btn button {
      height: 40px;
      width: 130px;
      border-radius: 20px;
      background-color: rgba(255, 0, 0, 0.906);
      color: white;
      padding: 0px 0px 0px 6px;
      border: none;
      outline: none;
      cursor: grab;

       @media screen and  (max-width:700px) {
         flex-direction: column;
         text-align: left; 
       margin: 0px 0px ;
      padding: 0px 0px ; 
      position: absolute;
      top: 50px; 
      left: 50px;
     } 

    }
    
    .btn button:hover {  
        background-color: #DD1E26;
  }

  .main {20px;
    padding: 0 20px;
  }

  @media screen and (max-width: 768px) {
    .main p:first-child {
      font-size: xx-large;
      margin: 40px 15px;
    }
  }

  @media screen and (max-width: 600px) {
    .main p:first-child {
      font-size: xl;
      margin: 30px 10px;
    }
    color: white;
    padding: 150px 0px 0px 0px;

  }

  .main p:first-child {
    font-size: xxx-large;
    margin: 50px 0px 0px 83px;
  }

  .main button {
    border-radius: 20px;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    color: wh20px;
  }

  .down p {
    font-size: smaller;
    margin: 15px 0;
  }

  @media screen and (max-width: 768px) {
    .down {
      padding: 15px;
    }

    .down p {
      font-size: 12px;
    }th:550px) {
         flex-direction: column;
         text-align: left; 
    width: 90%;
    max-width: 560px;
    height: 315px;
    margin: 30px auto;
    display: block;
  }

  @media screen and (max-width: 768px) {
    .main iframe {
      width: 95%;
      height: 250px;
    }
  }

  @media screen and (max-width: 600px) {
    .main iframe {
      width: 100%;
      height: 200px;
    }  .down {
    padding: 19px 0px 0px 87px;

  }

  .down p {
    font-size: smaller;
    margin: -36px 0px 0px 180px;
  }

  .main iframe {

    margin: -240px 0px 0px 650px;

    
     @media screen and  (max-width:800px) {
         flex-direction: column;
         text-align: left; 
       margin: 0px 0px ;
      padding: 0px 0px ; 
      position: absolute;
      top: 450px; 
      left: 50px;
     } 

  }



  .intro {
    margin: 82px 20px 0;
    background-color: white;
    padding: 40px 20px;
  }

  .intro p:first-child {
    font-weight: 900;
    font-size: xx-large;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .intro p:nth-child(2) {
    font-size: 14px;
    padding: 0;
    margin: 0 0 15px 0;
  }

  .intro p:nth-child(3) {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .intro {
      margin: 40px 10px;
      padding: 30px 15px;
    }

    .intro p:first-child {
      font-size: xl;
    }

    .intro p:nth-child(2),
    .intro p:nth-child(3) {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 600px) {
    .intro p:first-child {
      font-size: lg;
    }
  }

  .bar {
    font-size: smaller;
    margin: 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bar div {
    padding: 0 10px;
  }

  .bar p {
    margin: 5px 0 0 0;
  }

  @media screen and (max-width: 768px) {
    .bar {
      margin: 15px 15px 0;
    }
  }
width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
  }

  @media screen and (max-width: 768px) {
    .image img {
      max-width: 250px;
    }
  }

  @media screen and (max-width: 600px) {
    .image img {
      max-width: 200px;
    }r p {
      font-size: 12px;
    }
  }

  .bar label {
    font-weight: bold;
    font-size: 14px;

  }
flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
  }

  .card1 div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 250px;
    box-shadow: 2px 7px 12px 5px #80808040;
    background-color: rgb(255, 255, 255);
    padding: 20px;
  }

  .card1 div img:first-child {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .card1 img:nth-child(2) {
    width: 20px;
    height: 15px;
    margin: 0;
    padding: 0;
  }

  .card1 span {
    color: #fb0004;
    margin: 5px 0;
    font-size: 12px;
  }

  .card1 p {
    margin: 10px 0;
    font-size: 14px;
  }

  .card1-1 p:nth-child(5),
  .card1-2 p:nth-child(5),
  .card1-3 p:nth-child(5),
  .card1-4 p:nth-child(5) {
    color: #3F414D;
    margin: 10px 0;
    font-size: larger;
    font-weight: 600;
  }

  .card1-1 p:nth-child(6),
  .card1-2 p:nth-child(6),
  .card1-3 p:nth-child(6),
  .card1-4 p:nth-child(6) {
    color: #9C9E9E;
    margin: 10px 0;
    font-size: small;
    line-height: 20px;
  }

  .card1 button {
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: none;
    outline: none;
    margin: 10px 0 0 0;
    background-color: #E8E8E8;
  }

  .card1 button:hover {
    background-color: #f0f0f0e6;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .card1 {
      padding: 0 15px;
      gap: 15px;
    }

    .card1 div {
      max-width: 280px;
    }
  }

  @media screen and (max-width: 600px) {
    .card1 {
      padding: 0 10px;
      gap: 10px;
    }

    .card1 div {
      max-width: 100%;
      width: 100%;
    }h-child(7) {
    margin-top: 185px;
    margin-left: -155px;
  }

  .card1 div:nth-child(3) {
    background-color: rgb(255, 255, 255);
    margin: 300px 0px 0px -1065px;
  }

  .card1 div:nth-child(4) {
    background-color: rgb(255, 255, 255);
    margin: 300px 0px 0px 0px;
  }

  .card1 button {
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: none;
    outline: none;
    margin: 180px -140px;
    background-color: #E8E8E8;
  }

  .card1 button:hover {
    background-color: #f0f0f0e6;
    cursor: pointer;
  }

  /* page3 images alignment */

  .pg3>div {
    font-size: x-large;
    color: black;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
  }

  .img {
    display: flex;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .img img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .pg3>div {
      padding: 15px;
    }

    .img {
      margin: 15px;
    }

    .img img {
      max-width: 150px;
    }
  }

  @media screen and (max-width: 600px) {
    .img {
      margin: 10px;
      gap: 8px;
    }

    .img img {
      max-width: 120px;
    }
  }

.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

/* ================= CONTACT SECTION ================= */

.contact {
  padding: 60px 20px;
  background: linear-gradient(135deg, #0a7cff, #00e676);
  color: white;
}

.contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.contact-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .row {
  display: flex;
    width: 100%;
    gap: 15px;
  }

  @media screen and (max-width: 768px) {
    .contact-form .row {
      flex-direction: column;
    }

    .contact-form textarea {
      min-width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-form textarea {
      min-width: 100%;
      min-height: 100px;
    }
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

.contact-form textarea {
  min-width: 620px;
  min-height: 120px;
  resize: none;
}

.contact-form button {
  width: 210px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #e51c23;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #c9181f;
}

/* Map */

.map-box {
  width: 260px;
  height: 260px;
  overflow: hidden;
  border: 5px solid white;
  border-radius: 50%;
  margin:auto;
  }
  
  .map-box iframe {
  width: 100%; 
  height: 100%;
  border: none;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .map-box {
    width: 220px;
    height: auto;
    padding: 15px 30px;
    background-color: #DD1E26;
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

  .btn-2:hover {
    background-color: #c9181f;
  }

  @media screen and (max-width: 768px) {
    .btn-2 {
      padding: 12px 25px;
      width: 100%;
      max-width: 300px;
    }
  }

  @media screen and (max-width: 600px) {
    .btn-2 {
      padding: 10px 20px;
      width: 100%;
    }

  .contact h2 {
    font-size: 26px;
  }
}
padding: 60px 20px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .big {
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .small {
    line-height: 24px;
    font-size: medium;
  }

  .big2 {
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .small2 {
    text-align: left;
    line-height: 24px;
  }

  .big3 {
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .small3 {
    text-align: left;
    line-height: 24px;
  }

  .big4 {
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .small4>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .end {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .end div:first-child,
  .end p {
    margin: 0;
    padding: 0;
  }

  .inners {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  @media screen and (max-width: 768px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 40px 15px;
    }

    .big, .big2, .big3, .big4 {
      font-size: xl;
    }
  }

  @media screen and (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 30px 15px;
    }

    .big, .big2, .big3, .big4 {
      font-size: lg;
    }

    .small, .small2, .small3 {
      font-size: small;
    }

  .end p:first-child {
    padding: 37px 160px;

  }

  .end p:nth-child(2) {
    margin: -54px 240px;
  }

  .inners {
    margin: -58px 930px;
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  html {
  scroll-behavior: smooth;
}
